.d-flex{
    display: flex;
    justify-content: center;
    /* background: burlywood; */
}

.card{
    /* min-width: 293px; */
    /* max-width: 800px; */
    padding-left: 3%;
    padding-right: 3%;
    width: 35%;
}
.example-full-width {
    width: 100%;
  }

#btn-register{
    width: 40%;
}
.danger{
    color:red;
}

