
<div class="d-flex">
    <mat-card  class="card">
        <form (ngSubmit)="SignIn()" [formGroup]="signInForm">
        <mat-card-header class="d-flex">
            <h2>Sign In</h2>
        </mat-card-header>

        <mat-card-content>
            
            <!-- email -->
            <div>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input name="email" matInput  formControlName="email">
                    <mat-hint class="danger" *ngIf="signInForm.get('email')?.hasError('required') &&  signInForm.get('email')?.touched  ">email is required</mat-hint>                    
                    <mat-hint class="danger" *ngIf="signInForm.get('email')?.hasError('email') &&  signInForm.get('email')?.touched  ">email is invalid</mat-hint>                    
                </mat-form-field>
            </div>

            <!-- password -->
            <div>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>password</mat-label>
                    <input name="password" matInput formControlName="password">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                      <mat-hint class="danger" *ngIf="signInForm.get('password')?.hasError('required') &&  signInForm.get('password')?.touched  ">password is required</mat-hint>                                        
                </mat-form-field>
            </div>
            

            <span class="danger" [style.display]="error ? 'none' : 'block'">credentials didn't match</span>
       
            
            <!-- submit button -->
            <div class="d-flex" id="btn1">
                <button type="submit" [disabled]="!signInForm.valid"   color="primary" mat-raised-button>Sign In</button>
    
            </div>
            <div class="d-flex" style="margin-top: 10%;">
                Don't Have an account?
                <button type="button" (click)="goRegister()" mat-stroked-button >Register</button>
            </div>
        </mat-card-content>
        
    </form>
</mat-card>
</div>