
<div class="d-flex">
    <mat-card  class="card">
        <form (ngSubmit)="onFormSubmit()" [formGroup]="registerForm">
        <mat-card-header class="d-flex">
            <h2>Register here</h2>
        </mat-card-header>
            
        <mat-card-content>
            {{email}}
            <!-- name -->
            <div>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input name='name' matInput  formControlName="name">
                    <!-- <mat-hint class="danger" *ngIf="formDetails.controls['name']?.touched && !formDetails.controls['name'].valid">name is required</mat-hint> -->
                </mat-form-field>
            </div>
            <!-- email -->
            <div>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input name="email" matInput formControlName="email">
                    <!-- <mat-hint class="danger" *ngIf="formDetails.controls['email']?.touched && !formDetails.controls['email']?.valid ">email is Invalid</mat-hint> -->
                    <!-- <mat-hint class="danger" *ngIf="formDetails.controls['email']?.touched   && !formDetails.controls['email']?.valid && formDetails.controls['email']?.dirty ">email is invalid</mat-hint> -->
                </mat-form-field>
            <mat-hint class="danger" [style.display]="error ? 'none' : 'block'">Email exists</mat-hint>
            </div>

            <!-- password -->
            <div>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>password</mat-label>
                    <input name="password" matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    <!-- <mat-hint class="danger" *ngIf="formDetails.controls['password']?.touched && !formDetails.controls['password']?.valid">required</mat-hint> -->
                </mat-form-field>
            </div>

            <!-- confirmPassword -->
            <div>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>confirmPassword</mat-label>
                    <input name="confirmPassword" matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmPassword">
                    <button type="button" mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="hideConfirm ? 'Hide confirm password' : 'Show confirm password'" [attr.aria-pressed]="hideConfirm">
                      <mat-icon>{{ hideConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <!-- <mat-hint class="danger" *ngIf=" formDetails.controls['confirmPassword'] && (formDetails.controls['confirmPassword']?.value != formDetails.controls['password']?.value) ">password didn't match</mat-hint> -->
                </mat-form-field>
            </div>

            <!-- selet user type -->
            <div>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>selectUser</mat-label>
                    <mat-select name="usertype" formControlName="usertype" >
                        <mat-option value="recruiter">recruiter</mat-option>
                        <mat-option value="seeker">Seeker</mat-option>
                    <!-- <mat-hint class="danger" *ngIf="formDetails.controls['selectUser']?.touched ">required</mat-hint> -->
                    </mat-select>
                </mat-form-field>
            </div>
            
            <!-- submit button -->
            <div class="d-flex">
                <button type="submit" id="btn-register" color="primary" mat-raised-button>SignUp</button>
                <!-- (click)="registerUser()"  -->
            </div>
            <div>
                Already Have an account?
                <button type="button" (click)="goSignIn()" mat-stroked-button color="primary">SignIn</button>
            </div>
        </mat-card-content>
        
    </form>
</mat-card>
</div>


