.d-flex{
    display: flex;
    justify-content: center;
}

.card{
    padding-left: 3%;
    padding-right: 3%;
}
.example-full-width {
    width: 100%;
  }

#btn-register{
    width: 40%;
}
.danger{
    color:red;
}

