


<div class="d-flex">
    <mat-card  class="card">
       
        <mat-card-header class="d-flex">
            <h2>Page Not Found</h2>
        </mat-card-header>

        <mat-card-content>
            
            <!-- redirect  button -->
            <div class="d-flex">
                <button type="button" id="btn1" (click)="goSignIn()" mat-raised-button color="accent">Sign In</button>
            </div>
            <div class="d-flex" style="margin-top: 10px;">
                <button type="button" (click)="goRegister()" mat-raised-button color="primary">Register</button>
            </div>
        </mat-card-content>
        

</mat-card>
</div>